-unless current_user
  %h4
  .jumbotron
    .container
      .col-xs-12.col-sm-9
        %h2 Discover the best new food products, everday.
        %br
        %p
          Startup Grocery finds the best new products, every day. It's a place for food lovers to find, share and try out the hottest new food creations.
        %br
        %p
          %a.btn.btn-primary.btn-lg{:href => "#", :role => "button", "data-target" => "#signUpModal", "data-toggle" => "modal"} Sign up
      .col-xs-12.col-sm-3.hidden-xs
        =image_tag("samari.jpg", class: "img-responsive")
        .text-center
          %span{style: "font-size:8px;"}
            Sketch credit to:
            =link_to "Fabric Eight", "http://fabriceight.tumblr.com/page/2"

.bg-grey
  .container
    .col-xs-12.col-sm-2.hidden-xs
      .categories-sidebar
        %h4 Categories
        -Category.all.each do |category|
          =link_to category_path(category) do
            .category-box
              =category.name
    .col-xs-12.col-sm-7
      - @product_weeks.sort.reverse.each do |week, products|
        .week-of
          %h2.text-center
            { Week of
            = week.beginning_of_week.strftime('%b %d')
            to
            = week.end_of_week.strftime('%b %d, %Y')
            }
          -products.each do |product|
            =render "products/product_cards", product: product
    .col-xs-12.col-sm-3
      .newsletter-sidebar
        %h4 Newsletter
        %p
          Get the best new food products in your inbox, every week
        = form_for @subscriber, html: { class: "form-horizontal", role: "form" } do |f|
          -if @subscriber.errors.any?
            .alert.alert-danger.alert-dismissable{role: "alert"}
              %button.close{type: "button", data: {dismiss: "alert"} }
                %span{aria: {hidden: "true"} } &times;
                %span.sr-only Close
              %h4= "#{pluralize(@subscriber.errors.count, "error")} prohibited this subscriber from being saved:"

              %ul
                - @subscriber.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            .col-sm-12.text-center
              = f.text_field :email, class: 'form-control', placeholder: "Your email"
          .form-group
            .col-sm-12.text-center
              = f.submit "Subscribe", class: 'btn btn-primary', style: "width:100%;"

