= form_for @vendor, html: { class: "form-horizontal", role: "form" } do |f|
  -if @vendor.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@vendor.errors.count, "error")} prohibited this vendor from being saved:"

      %ul
        - @vendor.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :vendor_picture, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :vendor_picture, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
