#signUpModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", style: "padding: 10px;"}
        %span{"aria-hidden" => "true"} ×
      .text-center
        =image_tag("samari.jpg", class: "img-responsive", style: "max-width:200px;margin:auto;")
        %span{style: "font-size:8px;"}
          Sketch credit to:
          =link_to "Fabric Eight", "http://fabriceight.tumblr.com/page/2"
        %h1
          Join the Community
        .underline
      .modal-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .col-xs-12.col-sm-8.col-sm-offset-2
            .input-group.input-group-lg
              %span#basic-addon1.input-group-addon U
              = f.text_field :username, autofocus: true, class: "form-control", placeholder: "username"
            %br
            .input-group.input-group-lg
              %span#basic-addon1.input-group-addon @
              = f.email_field :email, class: "form-control", placeholder: "email"
            %br
            .input-group.input-group-lg
              %span#basic-addon1.input-group-addon #
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password (#{@minimum_password_length} characters minimum)"
            %br
            .input-group.input-group-lg
              %span#basic-addon1.input-group-addon #
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "password repeat"
          .clearfix
          %br
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = f.submit "Sign up", class: "btn btn-primary"


